.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 34px;
}
.square.white {
    background-color: maroon;
}
.square.white.w {
    background-color: red;
}
.square.black {
    background-color: darkgreen;
}
.square.black.b {
    background-color: green;
}
.square.moveOption {
    background-color: lightgreen;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}