.game-board {
    border: solid 1px black;
}

.square {
    background: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    padding: 0;
    text-align: center;
    width: 60px;
    border: none;
}
.square.white {
    background-color: white;
}

.square.black {
    background-color: grey;
}

.square.moveOption {
    background-color: lightgreen;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}